parameters:
    excludes_analyse:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        - '#Casting to bool something that.s already bool\.#'
        - '#Casting to string something that.s already string\.#'